/* font-family: 'Montserrat',
sans-serif;
font-family: 'Nunito Sans',
sans-serif;
font-family: 'Yeseva One',
cursive;
font-family: 'Young Serif',
serif; */


/* header */

.header__container {
    width: 100vw;
    margin: 0 auto;
    background-color: #000000;
}

.header__container_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 83px;
    max-width: 1265px;
    margin: 0 auto;
    background-color: #ff0000;

    border-radius: 30px;
}

.header__logo img {
    width: 65px;
    border-radius: 100%;
}

.header__logo img:hover {
    transform: scale(1.5);
}

.header__nav,
.header__nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    /* transition: 0.3s; */
}

.header__nav {
    display: flex;
    gap: 35px;

}

.header__nav a:hover {
    color: rgb(43, 35, 35);
    text-decoration: underline;
    transition: all 0.5s ease;
    /* transform: scale(1.4); */
}

/* .header__nav a:visited{
    color: rgb(161, 41, 41);
} */

.header__phone a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-decoration: underline;
}

.header__phone a:hover {
    color: rgb(43, 35, 35);
    transition: all 0.5s ease;
    /* transform: scale(1.5); */
}

#button {
    /* background-color: rgb(0, 0, 0); */
    color: rgb(9, 9, 9);
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    /* opacity: 1; */
    box-shadow: 0px 5px 15px 0px rgba(0, 93, 254, 0.2);
}

.header__btn {
    background-color: rgb(196, 174, 30);

}

.header__btn:hover {
    opacity: 0.9;
    /* transform: scale(1.2); */
}

/* section__hero */

.hero {
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),
        url("images/81e07cd1623d223c425b85a0e18353b6.jpg") center/cover;
}

.main__container {
    max-width: 1171px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
}

.hero__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Yeseva One', cursive;
    /* position: relative; */
    /* margin: 0px; */
    padding-top: 48px;
}

.hero__photo_block {
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 50px;
}

.hero__main_photo {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 30px; */
}

.hero__main_photo_like_block {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* margin-top: 20px; */
}

.hero__main_photo_like,
.hero__main_photo_like>img {
    /* display: inline-block; */
    max-width: 35px;
    /* margin-top: 8px; */
    /* position: relative; */
    /* margin: auto; */
    /* align-content: center; */
    /* margin: 0 auto; */
}

/* photo transform */

.hero__main_photo>img {
    width: 100%;
    border-radius: 20%;
    border: 4px solid rgb(161, 41, 41);
    filter: brightness(90%);
    transition: 1s;
    margin-bottom: 20px;
}

.hero__main_photo img:hover {
    transform: scale(1.2);
}

.hero__description_block {
    max-width: 385px;
}

.hero__description_block_title {
    color: goldenrod;
    text-transform: uppercase;
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    margin-bottom: 25px;
    text-decoration: underline;
}

.hero__description_block_container {
    margin-bottom: 25px;
}

.description__second_title {
    color: goldenrod;
    text-transform: uppercase;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
}

.description_text {
    font-size: 17px;
}

.description_text::before {
    content: "\1F48B";
}

.justify {
    text-align: justify;
}



@media screen and (max-width: 1100px) {

    .header__nav {
        display: none;
    }

}

@media screen and (max-width: 430px) {
    .header__phone {
        display: none;
    }

    .hero__photo_block,
    .hero__main_photo,
    .hero__main_photo img {
        flex-direction: column;
        margin: 0 auto;
        max-width: 350px;
    }

    .hero__main_photo {}

    .hero__main_photo_like_block{
        margin-top: 20px;
    }

    .hero__main_photo_like,
    .hero__main_photo_like>img {
        /* display: inline-block; */
        max-width: 35px;
    }

    .hero__photo_block {
        height: auto;
    }

    .hero__main_photo {
        margin-bottom: 30px;
        /* max-width: 90vw; */
    }

    .hero__description_block {}
}